certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
idna==3.10
loguru==0.7.2
psutil==5.9.8
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
requests==2.32.4
shiboken6==6.5.3
urllib3==2.5.0
win32_setctime==1.2.0
